//coding examples 

.codingexamplesintro {
    @include background('../img/codingexamples.jpg');
    background-position: center 30%;
}

#codingexamples {
    color:$electricblue;
    & + p {
        color:red;
    }
}

#codingexamplegrid {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#codesnippets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 50px;
    align-items: center;
    gap:20px;
    padding:20px;
    & p {
        border: black 1px solid;
        padding: 10px;
        height:  auto;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
}

.color {
    background-color: red;
}