@import "mixins.scss";

// all main text

#name, #aboutme, #portfolio, #codingexamples, #scss, #contact {
    font-size: 3rem;
}

// all content 

.pcontent {
    background-color: #f0f0f0;
}

// main page

.nameintro {
    @include background('../img/intro.jpg');
    height: 100vh;
  }


#name {
    color:$brightolive;
    & + p {
        color: #F4F1D3;

    }
}


