@import "mixins.scss";

// all main text

#name, #aboutme, #portfolio, #codingexamples, #scss, #contact {
    font-size: 3rem;
}


// main page

.nameintro {
    @include background('../img/intro.jpg');
    height: 100vh;
  }


#name {
    color:$brightolive;
    & + p {
        color: #F4F1D3;

    }
}

// about me 

.aboutintro {
    @include background('../img/aboutimg.jpg');
    background-position: center 20%;
}

#aboutflex {
    display: flex;
    padding:40px;
    font-size:1.5rem;
    justify-content: center;
    align-items: center 15%;
}

#aboutme {
    color:$brightcyan;
}

// my portfolio 

.portfoliointro {
    @include background('../img/myportfolio.jpg');
}

#portfolio {
    color:$warmorange;
}

#portfoliogrid {
    display: grid;
    padding: 40px;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    & span {
        transform: translate(-10px);
    }
}

.project {
    border: 1px black solid;
    color:red;   
}

#project1 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}

#project2 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}

#project3 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}

#project4 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}

#project5 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}

#project6 {
    @include background('../img/GitHub-logo.png');
    @include imgcorrector;
}


//coding examples 

.codingexamplesintro {
    @include background('../img/codingexamples.jpg');
    background-position: center 30%;
}

#codingexamples {
    color:$electricblue;
    & + p {
        color:red;
    }
}

#codingflex {
    display: flex;
    justify-content: center;
}

#coding {
    display: flex;
    justify-content: center;
    padding: 40px;
}

// scss scheme

.schemeintro {
    @include background('../img/scheme.jpg');
    background-position: center 30%;
}

#scss {
    color:$creamwhite;
}

#scssflex {
    display: flex;
    padding:40px;
    min-width: 50%;
    flex-wrap: wrap;
    font-size: large;

    & p {
        margin-right: 20px;
        white-space: pre-line;
    }
    & p:nth-child(1) {
        color:red;
        flex-basis: 45%;
    }

    & p:nth-child(2) {
        color:orange;
        flex-basis: 45%;
    }

    & p:nth-child(3) {
        color:purple;
        padding-top: 40px;
        flex-basis: 100%;
    }
}

// contact 

.contactintro {
    @include background('../img/contactme.jpg');
    background-position: center 40%;
}

#contact {
    color:$azureblue;

}

#contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:40px;
    gap:40px;
    line-height: 2rem;
    max-width: 100%;
    & textarea {
        resize: none;
    }
}

#block1 {
    grid-column: 1;
    grid-row: 1;
}

#block2 {
    grid-column: 1;
    grid-row: 2;
}

#block3 {
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2 / 4;
    grid-row: 1 / 3;    
}

#subject, #emailaddress, #message, #firstname, #lastname {
    background-color:#fcfeff;
}

#subject {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
}

#emailaddress {
    grid-column: 1 / -1;
}

#message {
    grid-column: 1 / -1;
    grid-row: 4 / 6;
}

