* {
    margin: 0;
    box-sizing: border-box;
}


.initialslink {
    text-decoration: none;
    color:black;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.icomoon {
    font-family: 'icomoon', sans-serif;
}

.wrap {
    display: flex;
    min-height: 100vh;
    max-height: 600px;
}

.nav {
    min-width: 20%;
    min-height: 100vh;
}

.content {
    min-width: 80%;
    min-height: 100vh;
}

@media (max-width:576px) {
    .initials {
        font-size:3.5rem;
    }

    .navigation {
        font-size: small;
    }

    #socialmedias {
        font-size: 1rem;
    }

    .navigation {
        line-height: 2rem;
        font-size: x-small;
    }

    #name {
        font-size: 0.2rem;
    }


}


