.initials {
    font-size: 7rem;
    width: 100%;
    border-bottom: aqua 2px solid;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav {
    text-align: center;
    border-right: aqua 2px solid;
    height: 600px;
}

.navigation {
    padding: 20px 0;
    line-height: 3.5rem;
}

#socialmedia {
    padding-top:100px;
}

#socialmedia::before {
    content: "\ea90\ea92\ea96\eac9";
    letter-spacing: 1.2rem;
    color:aqua;
}


.about {
    text-decoration: none;
    color:black;
}