@import 'mixins.scss';

.initials {
    font-size: 5rem;
    width: 100%;
    border-bottom: $mintgreen 2px solid;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav, .open{
    text-align: center;
    border-right: $mintgreen 2px solid;
    background-color: #f0f0f0;
}

.navigation {
    padding: 0px 0px 20px 0;
    line-height: 2.5rem;
}

// github and linkedin icons

#socialmedias {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap:15px;
    font-size: 1.5rem;
    & a {
        text-decoration: none;
        color:$mintgreen;
    }
}

.github::after {
    content: "\eab0";
    color:black;
}

.linkedin::after {
    content: "\eac9";
    color: #0072b1;
}

.about {
    text-decoration: none;
    color:black;
}

#aboutselect, #portfolioselect, #codingexamplesselect, #scsschemeselect, #contactmeselect {
    border-top:$mintgreen 2px solid;
    border-bottom:$mintgreen 2px solid;
}


// burger button 

.burgerbutton {
    display: none;
    width: 45px;
    height: 40px;
    box-shadow: inset 2px red;
    &::after {
        content: "\e9bd";
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    .burgerbutton {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: grey;
    }

    #codingflex, #aboutflex, #portfoliogrid, #scssflex, #contactgrid {
        width: 100vw;
    }
}