.initials {
    font-size: 7rem;
    width: 100%;
    border-right: aqua 2px solid;
    border-bottom: aqua 2px solid;
}

.nav {
    text-align: center;
    border-right: aqua 2px solid;
}

.navigation {
    padding: 20px 0;
    line-height: 3rem;
}