// variables 

$mintgreen : #1fe0aa;

$brightolive : #7A9A6D;
$brightcyan : #00FFFF;
$warmorange : #FF5722;
$electricblue : #2979FF;
$creamwhite : #FFF5E1;
$azureblue : #007FFF;







// content photo 

@mixin background($photo) {
    position: relative;
    height: 50vh;
    width: 80vw; 
    background-position: center;
    background-image: url(#{$photo});
    background-size:cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    line-height: 4rem;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

// portfolio image corrector

@mixin imgcorrector {
    height: auto;
    z-index: -1;
    width: auto;
    align-items: end;
    justify-content: end;
}

